$color-pink: #FF70D9;
$color-yellow: #EBFF00;
$color-blue: #304571;
$color-black: #000000;
$color-white: #FFFFFF;

$font-lato: 'Lato', sans-serif;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;

.white {
  color: $color-white;
}
.pink {
  color: $color-pink;
}
.yellow {
  color: $color-yellow;
}

.padding-lr-2 {
  padding-left: 2em;
  padding-right: 2em;
}

.padding-l-2 {
  padding-left: 2em;
}

.padding-2 {
  padding: 2em;
}

.opacity-60 {
  opacity: 0.6;
}

.container {
  display: grid;
  height: 100vh;
  grid-template-rows: 10vh 1fr 15vh;
  font-family: $font-lato;
}

header {
  background-color: $color-black;
}

main {
  background-color: $color-blue;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $color-black;
  color: $color-yellow;
}

.footer__image {
  width: 4rem;
  height: 4rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

$logo-width: 5rem;
$logo-height: 5rem;

.logo__svg {
  width: $logo-width;
  height: $logo-height;
}
.svg-image {
  width: inherit;
  height: inherit;
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar__menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  margin-right: 2rem;
}

#hamburger {
  width: 0;
  height: 0;
  overflow: hidden;
  position: absolute;
  padding: 0;
  margin: 0;
}
#hamburger, label {
  display: none;
}

.navbar__link {
  color: $color-white;
  text-decoration: none;
}
.navbar__link:hover {
  background: linear-gradient(90deg,#EBFF00, #FF70D9);
  background-clip: text;
}

.navbar__menu-item {
  margin-left: 2rem;
}

.navbar__image {
  width: 1em;
  height: 1em;
}
.navbar__image:hover {
  background-image: url('../public/cart_hover.svg');
}

.banner {
  background-size: cover;
}

.banner__text {
  padding-bottom: 2rem;
}

.banner__text_large {
  font-weight: $font-weight-extra-bold;
  font-size: 3em;
  margin-block-start: 0;
  margin-block-end: 1em;
  padding-top: 1em;
}
.banner__text_small {
  font-weight: $font-weight-extra-bold;
  font-size: 1.75em;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-bottom: 1em;
  text-wrap: nowrap;
}

.banner__image {
  background-image: url('../public/EARTH.png');
  background-size: cover;
  width: 20rem;
  height: 20rem;
}

.banner_large {
  background-image: url('../public/main_banner.webp');
  max-width: 100%;
  height: 70vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.banner_small {
  height: 100%;
  border-radius: 10px;
}

.banner_small__text-container {
  max-width: 60%;
}

.background_banner-1 {
  background-image: url('../public/banner-1.webp');
}

.background_banner-2 {
  background-image: url('../public/banner-2.webp');
}

.background_banner-3 {
  background-image: url('../public/banner-3.webp');
}

.background_banner-4 {
  background-image: url('../public/banner-4.webp');
}

.button {
  @extend .hover-effect;
  border-radius: 50px;
  height: 2rem;
  padding: 1.5rem;
  font-weight: $font-weight-bold;
  font-size: 1rem;
  line-height: 0;
}

.button_primary {
  background-color: $color-yellow;
  color: $color-black;
  border-color: $color-yellow;
}

.button_secondary {
  background-color: transparent;
  color: $color-yellow;
  border-color: $color-yellow;
  border-style: solid;
}

.button_secondary {
  background-color: transparent;
  color: $color-yellow;
  border-color: $color-yellow;
  border-style: solid;
}

.label {
  border-color: transparent;
  color: $color-yellow;
  border-style: solid;
  background-color: transparent;
  padding: 0;
}

.offers-container {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.offers-container__item_large {
  grid-column: span 2;
}

.hover-effect:hover {
  opacity: 0.6;
}

@media screen and (max-width: 768px) {
  .offers-container__item_large {
    grid-column: span 1;
  }
  .banner__text_large {
    font-size: 1.5em;
  }
  .banner__text_small {
    text-wrap: wrap;
    font-size: 1em;
  }
}

@media screen and (max-width: 360px) {
  .offers-container__item_large {
    grid-column: span 2;
  }
  .offers-container__item {
    grid-column: span 2;
  }

  .navbar__menu {
    display: none;
  }

  #hamburger_label {
    width: 2em;
    height: 2em;
    background: url('../public/menu_burger.svg')
  }

  #hamburger, label {
    display: inline-block;
  }

  #hamburger:checked + #hamburger_label {
    background: url('../public/menu_close.svg');
  }

  #hamburger:checked ~ ul {
    display: inline-block;
    padding-inline: 1em;
  }
}
