$color-pink: #FF70D9;
$color-yellow: #EBFF00;
$color-blue: #304571;
$color-black: #000000;
$color-white: #FFFFFF;

$font-lato: 'Lato', sans-serif;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;

.white {
  color: $color-white;
}
.pink {
  color: $color-pink;
}
.yellow {
  color: $color-yellow;
}

.padding-lr-2 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.padding-l-2 {
  padding-left: 2rem;
}

.container {
  display: grid;
  height: 100vh;
  grid-template-rows: 10vh 1fr 15vh;
  font-family: $font-lato;
}

header {
  background-color: $color-black;
}

main {
  background-color: $color-blue;
}

footer {
  background-color: $color-black;
  color: $color-yellow;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

$logo-width: 5rem;
$logo-height: 5rem;

.logo__svg {
  width: $logo-width;
  height: $logo-height;
}
.svg-image {
  width: inherit;
  height: inherit;
}

.navbar__menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  margin-right: 2rem;
}

.navbar__link {
  color: $color-white;
  text-decoration: none;
}

.navbar__menu-item {
  margin-left: 2rem;
}

.navbar__image {
  width: 1em;
  height: 1em;
}

.banner {
  background-size: cover;
}

.banner__text {
  padding-bottom: 2rem;
}

.banner__text_large {
  font-weight: $font-weight-extra-bold;
  font-size: 3rem;
  margin-block-start: 0;
  margin-block-end: 1rem;
  padding-top: 1rem;
}
.banner__text_small {
  font-weight: $font-weight-extra-bold;
  font-size: 1.75rem;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-bottom: 1rem;
  text-wrap: nowrap;
}

.banner__image {
  background-image: url('../public/EARTH.png');
  background-size: cover;
  width: 20rem;
  height: 20rem;
}

.banner_large {
  background-image: url('../public/main_banner.png');
  max-width: 100%;
  height: 70vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.banner_small__text-container {
  max-width: 60%;
}

.background_banner-1 {
  background-image: url('../public/banner-1.png');
}

.background_banner-2 {
  background-image: url('../public/banner-2.png');
}

.background_banner-3 {
  background-image: url('../public/banner-3.png');
}

.background_banner-4 {
  background-image: url('../public/banner-4.png');
}

.button {
  border-radius: 50px;
  height: 2rem;
  padding: 1.5rem;
  font-weight: $font-weight-bold;
  font-size: 1rem;
  line-height: 0;
}

.button_color_yellow {
  background-color: $color-yellow;
  color: $color-black;
}

.offers-container {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.offers-container__item_large {
  grid-column: span 2;
}
